body {
  background-color: #5D5D5D;
}

.wrapper {
  position: fixed;
  top:0;
  left:0;
  width:100%;
}

.widget {
  margin:4px;
  font-family: monospace;
  background-color: #1D1D1D;
  color: #FFFFFF;
  font-size: 10pt;
  padding: 2px;
  overflow: auto;
}

.widget:hover {
  background-color: #333333;
}


input[type=select]{
  width:42px;
  float:right;
}

input[type=number]{
  width:42px;
  float:right;
}

input[type=button]{
  width:42px;
  float:right;
}


/*input[type=range] {
  position: absolute;
  top: 40%;
  transform: rotate(270deg);
}*/
.selecta {
  width:50%;
  float:right;
}

#infoline {
    margin:0px;
    font-family: monospace;
    background-color: #0E0E0E;
    color: #FFFFFF;
    font-size: 18pt;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
}

#prompt {
  width:80%;
}

#templateSelector {
  width:100%;
}

.tpCell {
  border: 1px solid white;
}
.tpCell:hover {
  background-color: red;
}
.tpSelected {
  background-color: white;
  color: black;
}

#reload {
  position:absolute;
  right:10pt;
  top:10pt;
}

.bottompart {
  margin: 10px;
  position: fixed;
  bottom: 130px;
}

.shaderInput {
    margin: 10px;
    vertical-align: middle;
    font-family: monospace;
    background-color: #875267;
    color: #FFFFFF;
    font-size: 10pt;
    padding: 10px;
}

.modes {
  margin: 10px;
  vertical-align: middle;
  font-family: monospace;
  background-color: #875267;
  color: #FFFFFF;
  font-size: 10pt;
  padding: 10px;
}

.sequencer {
  width: 100%;
	background-color: #000000;
  padding: 16px;
	margin:auto;
  position: fixed;
  bottom: 10px;
}

.sequencer .seqstep {
  float: left;
  margin: 4px;
  height: 128px;
  width: 42px;
  border:1px solid lightgray;
  background-color: #005267;
  color: #FFFFFF;
  font-family: ‘Trebuchet MS’, Helvetica, sans-serif;
  font-size:18px;
  text-align: center;
  text-rendering:
  vertical-align: middle;
  white-space:nowrap;
}

.sequencer .seqstep:hover {
  background-color: #880000;
}
