body {
    background-color: gray;
    padding: 16px 16px 16px 16px;
}

toppart {

  position: fixed;
  width:100%;
  top: 0;
  border: 2px;
}

.infoline {
    font-family: monospace;
    background-color: #875267;
    color: #FFFFFF;
    font-size: 18pt;
    padding: 10px;
    /*position: fixed;
    top: 0;*/
}

.cmdInput {
    font-family: monospace;
    background-color: #875267;
    color: #FFFFFF;
    font-size: 10pt;
    padding: 2px;
    width: 100%;
    /*position: fixed;
    bottom: 80px;*/
}
.prompt {
  width:80%;
}

.bottompart {
  position: fixed;
  padding: 5px;
  bottom: 10px;
}




.colorPicker {
    font-family: monospace;
    background-color: #875267;
    color: #FFFFFF;
    font-size: 10pt;
    padding: 10px;
    /*position: fixed;
    bottom: 20px;*/
}


.shaderInput {
    vertical-align: middle;
    font-family: monospace;
    background-color: #875267;
    color: #FFFFFF;
    font-size: 10pt;
    padding: 10px;
    /*position: fixed;
    bottom: 140px;*/
}

.modes {
  /*width:48px;*/
  vertical-align: middle;
  font-family: monospace;
  background-color: #875267;
  color: #FFFFFF;
  font-size: 10pt;
  padding: 10px;
  /*position: fixed;
  bottom: 310px;*/
}
